@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  font-family: 'VT323', monospace;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #fff;
  color: #000;
}

/* Monitor and On/Off Button */
.monitor {
  margin: 3vmin auto;
  padding: 5.5vmin;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3f3933;
  border-radius: 0.5rem;
}

.monitor.powered-off .crt {
  background: #000;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.screen {
  position: relative;
  border: 30px solid transparent;
  border-image-source: url(https://i.ibb.co/8jt98LP/crt-frame.png);
  border-image-slice: 30 fill;
  overflow: hidden;
}

.crt {
  background: #05321e;
  background-image: radial-gradient(ellipse, #05321e 0%, #050505 90%);
  animation: txt-shadow 1.6s infinite;
  width: 80ch;
  height: calc(80ch * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.terminal h1 {
  color: #00fd55;
  font-size: 3.5rem;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 11s steps(17, end) infinite, blink-cursor .8s step-end infinite;
}

.imageboard {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 10px;
    background: #000;
    border: 1px solid #00ff00;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.caption {
    color: #00ff00;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .gallery img {
        max-width: 100px;
    }
}
